<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
   <h1>Hi this home ejs</h1> 
   <h2> <%= "nirmal fageria".toUpperCase() %></h2>
   <h2> <%= 2*63 %></h2>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis nulla eius sint modi nesciunt expedita accusamus, deserunt ipsa pariatur eum ut incidunt perspiciatis maiores eos, quas possimus error ducimus iure!</p>
</body>
</html>